{% comment %}
  HTML Marketing Component: Form
  Newsletter/contact form
  
  Parameters:
  - heading: {String} Form heading
  - text: {String} Form description text
  - type: {String} newsletter | contact - default: newsletter
  - placeholder: {String} Input placeholder text
  - button_text: {String} Submit button text - default: "Subscribe"
  - layout: {String} inline | stacked - default: inline
  - alignment: {String} left | center - default: center
{% endcomment %}

{%- liquid
  assign heading = heading | default: ''
  assign text = text | default: ''
  assign type = type | default: 'newsletter'
  assign placeholder = placeholder | default: 'Enter your email'
  assign button_text = button_text | default: 'Subscribe'
  assign layout = layout | default: 'inline'
  assign alignment = alignment | default: 'center'
  
  assign form_id = 'marketing-form-' | append: section.id | append: '-' | append: block.id
-%}

<div class="marketing-form marketing-form--{{ layout }} marketing-form--align-{{ alignment }}">
  <div class="marketing-form__header">
    {%- if heading != blank -%}
      <h3 class="marketing-form__heading">{{ heading | escape }}</h3>
    {%- endif -%}
    
    {%- if text != blank -%}
      <p class="marketing-form__text">{{ text }}</p>
    {%- endif -%}
  </div>
  
  {%- if type == 'newsletter' -%}
    {% form 'customer', id: form_id, class: 'marketing-form__form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      
      <div class="marketing-form__field">
        <label for="{{ form_id }}-email" class="marketing-form__label visually-hidden">Email address</label>
        <input
          type="email"
          name="contact[email]"
          id="{{ form_id }}-email"
          class="marketing-form__input"
          placeholder="{{ placeholder | escape }}"
          required
          autocomplete="email"
        />
      </div>
      
      <button type="submit" class="marketing-form__button">
        {{ button_text | escape }}
      </button>
      
      {%- if form.posted_successfully? -%}
        <div class="marketing-form__message marketing-form__message--success">
          Thanks for subscribing!
        </div>
      {%- endif -%}
      
      {%- if form.errors -%}
        <div class="marketing-form__message marketing-form__message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
    {% endform %}
  {%- elsif type == 'contact' -%}
    {% form 'contact', id: form_id, class: 'marketing-form__form marketing-form__form--contact' %}
      <div class="marketing-form__field">
        <label for="{{ form_id }}-name" class="marketing-form__label">Name</label>
        <input
          type="text"
          name="contact[name]"
          id="{{ form_id }}-name"
          class="marketing-form__input"
          required
        />
      </div>
      
      <div class="marketing-form__field">
        <label for="{{ form_id }}-email" class="marketing-form__label">Email</label>
        <input
          type="email"
          name="contact[email]"
          id="{{ form_id }}-email"
          class="marketing-form__input"
          required
          autocomplete="email"
        />
      </div>
      
      <div class="marketing-form__field">
        <label for="{{ form_id }}-message" class="marketing-form__label">Message</label>
        <textarea
          name="contact[body]"
          id="{{ form_id }}-message"
          class="marketing-form__textarea"
          rows="5"
          required
        ></textarea>
      </div>
      
      <button type="submit" class="marketing-form__button">
        {{ button_text | escape }}
      </button>
      
      {%- if form.posted_successfully? -%}
        <div class="marketing-form__message marketing-form__message--success">
          Thanks for contacting us! We'll get back to you soon.
        </div>
      {%- endif -%}
      
      {%- if form.errors -%}
        <div class="marketing-form__message marketing-form__message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
    {% endform %}
  {%- endif -%}
</div>

