{% comment %}
  HTML Marketing Component: Features
  Feature list with icons
  
  Parameters:
  - features: {Array} Array of {icon, title, description} objects (required)
  - layout: {String} grid | list - default: grid
  - columns: {String} 2 | 3 | 4 - default: 3 (for grid)
  - icon_style: {String} circle | square | none - default: circle
  - alignment: {String} left | center - default: center
{% endcomment %}

{%- liquid
  assign features = features | default: ''
  assign layout = layout | default: 'grid'
  assign columns = columns | default: '3'
  assign icon_style = icon_style | default: 'circle'
  assign alignment = alignment | default: 'center'
-%}

<div class="marketing-features marketing-features--{{ layout }} marketing-features--cols-{{ columns }} marketing-features--icon-{{ icon_style }} marketing-features--align-{{ alignment }}">
  {%- if features != blank and features.size > 0 -%}
    <div class="marketing-features__grid">
      {%- for feature in features -%}
        <div class="marketing-features__item">
          {%- if feature.icon != blank -%}
            <div class="marketing-features__icon">
              {{ feature.icon }}
            </div>
          {%- endif -%}
          
          <div class="marketing-features__content">
            {%- if feature.title != blank -%}
              <h3 class="marketing-features__title">{{ feature.title | escape }}</h3>
            {%- endif -%}
            
            {%- if feature.description != blank -%}
              <p class="marketing-features__description">{{ feature.description }}</p>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="marketing-features__placeholder">
      <p>Add features to showcase</p>
    </div>
  {%- endif -%}
</div>

