{% comment %}
  HTML Marketing Component: USP
  Unique selling points / Trust badges
  
  Parameters:
  - items: {Array} Array of {icon, text} objects (required)
  - layout: {String} horizontal | grid - default: horizontal
  - style: {String} minimal | boxed | highlighted - default: minimal
  - alignment: {String} left | center - default: center
{% endcomment %}

{%- liquid
  assign items = items | default: ''
  assign layout = layout | default: 'horizontal'
  assign style = style | default: 'minimal'
  assign alignment = alignment | default: 'center'
-%}

<div class="marketing-usp marketing-usp--{{ layout }} marketing-usp--{{ style }} marketing-usp--align-{{ alignment }}">
  {%- if items != blank and items.size > 0 -%}
    <div class="marketing-usp__list">
      {%- for item in items -%}
        <div class="marketing-usp__item">
          {%- if item.icon != blank -%}
            <div class="marketing-usp__icon">
              {{ item.icon }}
            </div>
          {%- endif -%}
          
          <p class="marketing-usp__text">{{ item.text | escape }}</p>
        </div>
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="marketing-usp__placeholder">
      <p>Add trust badges or USPs</p>
    </div>
  {%- endif -%}
</div>

